/* FONTS */

@font-face {
    font-family: JustLovely;
    src: url(../fonts/JustLovely.otf);
}

@font-face {
    font-family: Didot;
    src: url(../fonts/Didot/Didot.ttc);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato/Lato-Light.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}