/* FONTS */
@font-face {
  font-family: JustLovely;
  src: url(../fonts/JustLovely.otf); }
@font-face {
  font-family: Didot;
  src: url(../fonts/Didot/Didot.ttc); }
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato/Lato-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }
/* TRANSITIONS */
/* bounce */
@-moz-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes bounce {
  0%,
    20%,
    50%,
    80%,
    100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
/* fade */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* *********************************************************************************************************************** */
/* JUMBOTRON (HOME) */
.jumbotron {
  height: 100vh;
  background: url(../images/frontjumboimg.png) center center no-repeat;
  background-size: cover; }

.homenav {
  position: fixed; }

.homenav.scrolled {
  background-color: #A09F9F !important;
  opacity: 0.15;
  transition: background-color 200ms linear; }

#navimg {
  height: 15px;
  float: left;
  margin-left: 15px; }

#navimg:hover {
  height: 20px; }

#navtext {
  font-family: Didot;
  font-size: 25px;
  color: #FFF;
  float: left;
  margin-left: 10px; }

#maintitle {
  font-family: JustLovely;
  font-size: 16em;
  color: #FFF;
  text-align: center;
  margin-top: 15%;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

#subtitle {
  font-family: Didot;
  font-size: 25px;
  color: #FFF;
  text-align: center;
  letter-spacing: 50px;
  margin-top: -2%; }

#arrowsign {
  color: #FFF;
  position: relative;
  left: 47%;
  margin-top: 16%;
  font-size: 30px;
  text-align: center;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite; }

/* MODAL CONTENT (HOME) */
ul {
  list-style-type: none; }

a {
  color: white; }

a:hover {
  text-decoration: none; }

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.modal-content {
  background-color: #6C736E;
  color: white;
  height: auto;
  min-height: 100%;
  border: 0 none;
  border-radius: 0;
  text-align: center; }

.modal-content .modal-header {
  border: none; }
.modal-content .modal-body {
  margin-top: 4%; }
.modal-content .modal-footer {
  border: none; }

.navigator {
  margin-top: 2%; }

.menulink {
  font-family: Didot;
  font-size: 20px;
  color: #FFF;
  letter-spacing: 30px;
  padding-top: 2%; }

.icon-row {
  margin-top: 10%; }

.icon-link {
  margin-left: 1%; }

.icon-link:hover {
  height: 60px; }

#modalclose {
  color: white; }

/* BODY HOME */
hr {
  border: solid 2px #9F6662;
  margin-top: 5%;
  margin-bottom: 4.5%; }

.flowerpattern-right {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 500px; }

.flowerpattern-left {
  position: absolute;
  z-index: -2;
  top: 150%;
  left: -5%; }

.bodytext {
  width: 80%;
  margin: 10% 10% 18% 10%; }

.experiencetext {
  font-family: Didot;
  font-size: 2.5em;
  color: #091B1D; }

.frontendtext {
  color: #9F6662; }

.goaltext {
  color: #9F6662;
  font-size: 2.75em; }

/* FOOTER HOME */
.footer {
  margin: 0% 0% 20% 0%; }

.background-box {
  position: absolute;
  z-index: 1;
  bottom: -1100px;
  width: 400px;
  height: 300px; }

.pink-one {
  background-color: #F3E9E9;
  bottom: -850px;
  width: 100%;
  height: 30px; }

.contactcontainer {
  background-color: #F3E9E9;
  right: 450px;
  bottom: -1150px; }

.contactcontainer:before {
  background-color: #081A1D;
  display: inline-block;
  content: "";
  height: 20rem;
  left: 4.25rem;
  position: absolute;
  top: 5rem;
  width: 3px; }

.socialcontainer {
  background-color: white;
  right: 50px;
  bottom: -1250px; }

.socialcontainer:before {
  background-color: #081A1D;
  display: inline-block;
  content: "";
  height: 20rem;
  left: 4.25rem;
  position: absolute;
  top: 5rem;
  width: 3px; }

.footerheader {
  font-family: JustLovely;
  color: #081A1D;
  font-size: 7.5rem;
  padding-top: 4rem;
  padding-left: 8rem; }

.footerbody {
  font-family: Lato-light;
  color: #081A1D;
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  padding-left: 8rem;
  padding-top: 1.5rem; }

.footersocialicons {
  padding-top: 2rem; }

.iconfooterone {
  padding-left: 8rem; }

.iconfooterone:hover {
  height: 10rem; }

.iconfootertwo {
  padding-left: 4rem; }

.iconfootertwo:hover {
  height: 10rem; }

#footerimg {
  position: absolute;
  width: 1960px;
  right: 0px;
  bottom: -1260px; }

#getintouchtext {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 1800px;
  left: 5%;
  font-family: JustLovely;
  font-size: 20rem;
  color: #FFF; }

/* *********************************************************************************************************************** */
/* Portfolio Page */
#portfolioJumbo {
  height: 90vh;
  background: url(../images/frontjumboimg.png) center center no-repeat;
  background-size: cover; }

#portfolioTitle {
  font-family: Just Lovely;
  font-size: 10em;
  color: #FFF;
  text-align: left;
  margin-top: 8%;
  margin-left: 8%;
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

#portfolioSubTitle {
  font-family: Didot;
  font-size: 3rem;
  color: #FFF;
  text-align: left;
  margin-left: 8%;
  margin-right: 8%;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */ }

#portfolioTitleText {
  font-family: Lato-Light;
  font-size: 2rem;
  color: #FFF;
  text-align: left;
  margin-left: 8%;
  margin-right: 8%;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s; }

#arrowsignP {
  color: #FFF;
  position: relative;
  left: 47%;
  margin-top: 8%;
  font-size: 30px;
  text-align: center;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite; }

/* Portfolio Body */
.row {
  margin-top: 3%; }

.img__description {
  position: absolute;
  top: 0;
  padding: 4%;
  width: 95%;
  height: 100%;
  background: #6c736e;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s; }

#project:hover .img__description {
  visibility: visible;
  opacity: 0.9; }

.projectType {
  font-family: Lato-Light;
  font-size: 1rem;
  letter-spacing: 0.2rem; }

.projectTitle {
  font-family: Didot;
  font-size: 5rem;
  margin-top: 8.5%; }

.projectText {
  font-family: Lato;
  margin-bottom: 6%; }

.projectLinks {
  font-family: Didot;
  font-size: 1.75rem; }

.projectLink2 {
  margin-left: 3%; }

/* *********************************************************************************************************************** */
/* MEDIA QUERIES */
@media only screen and (max-width: 1440px) {
  #getintouchtext {
    top: 220%;
    font-size: 14rem; } }
/* applies to width of 980px */
@media only screen and (max-width: 980px) {
  /* HOME PAGE */
  #maintitle {
    font-size: 14em;
    margin-top: 25%; }

  #arrowsign {
    margin-top: 23%; }

  .experiencetext {
    font-size: 1.75em; }

  .goaltext {
    font-size: 1.9em; }

  .pink-one {
    bottom: -540px;
    width: 965px; }

  .contactcontainer {
    bottom: -950px; }

  .socialcontainer {
    bottom: -950px; }

  #footerimg {
    bottom: -960px; }

  #getintouchtext {
    top: 162%;
    font-size: 10rem; }

  /* MODAL */
  .menulink {
    padding-top: 6%; } }
/* applies to width of 768px */
@media only screen and (max-width: 768px) {
  /* HOME PAGE */
  #maintitle {
    font-size: 13em;
    margin-top: 25%; }

  #subtitle {
    font-size: 16px; }

  .pink-one {
    width: 753px; }

  .contactcontainer {
    width: 100vh;
    bottom: -950px; }

  .socialcontainer {
    bottom: -950px; } }
/* applies to width of 640px */
/* applies to width of 640px */

/*# sourceMappingURL=output.css.map */
