@import 'font';

@import 'animations';

/* *********************************************************************************************************************** */


/* JUMBOTRON (HOME) */

.jumbotron {
    height: 100vh;
    background: url(../images/frontjumboimg.png) center center no-repeat;
    background-size: cover;
}

#navimg {
    height: 15px;
    float: left;
    margin-left: 15px;
}

#navimg:hover {
    height: 20px;
}

#navtext {
    font-family: Didot;
    font-size: 25px;
    color: #FFF;
    float: left;
    margin-left: 10px;
}

#maintitle {
    font-family: JustLovely;
    font-size: 16em;
    color: #FFF;
    text-align: center;
    margin-top: 15%;
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

#subtitle {
    font-family: Didot;
    font-size: 25px;
    color: #FFF;
    text-align: center;
    letter-spacing: 50px;
    margin-top: -2%;
}

#arrowsign {
    color: #FFF;
    position: relative;
    left: 47%;
    margin-top: 20%;
    font-size: 30px;
    text-align: center;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}


/* MODAL CONTENT (HOME) */

ul {
    list-style-type: none;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    background-color: #6C736E;
    color: white;
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    text-align: center;
}

.modal-content {
    .modal-header {
        border: none;
    }
    .modal-body {
        margin-top: 10%;
    }
    .modal-footer {
        border: none;
    }
}

.navigator {
    margin-top: 2%;
}

.menulink {
    font-family: Didot;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 30px;
    padding-top: 2%;
}

.icon-row {
    margin-top: 10%;
}

.icon-link {
    margin-left: 1%;
}

.icon-link:hover {
    height: 60px;
}
#modalclose {
    color: white;
}

/* BODY HOME */

.flowerpattern-right {
    position: absolute;
    top: 87%;
    left:70%;
}

.flowerpattern-left {
    position: absolute;
    top: 130%;
    left: -5%;
}