@import 'font';
@import 'animations';

/* *********************************************************************************************************************** */


/* JUMBOTRON (HOME) */

.jumbotron {
    height: 100vh;
    background: url(../images/frontjumboimg.png) center center no-repeat;
    background-size: cover;
}

.homenav {
    position: fixed;
}

.homenav.scrolled {
    background-color: #A09F9F !important;
    opacity: 0.15;
    transition: background-color 200ms linear;
}

#navimg {
    height: 15px;
    float: left;
    margin-left: 15px;
}

#navimg:hover {
    height: 20px;
}

#navtext {
    font-family: Didot;
    font-size: 25px;
    color: #FFF;
    float: left;
    margin-left: 10px;
}

#maintitle {
    font-family: JustLovely;
    font-size: 16em;
    color: #FFF;
    text-align: center;
    margin-top: 15%;
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
}

#subtitle {
    font-family: Didot;
    font-size: 25px;
    color: #FFF;
    text-align: center;
    letter-spacing: 50px;
    margin-top: -2%;
}

#arrowsign {
    color: #FFF;
    position: relative;
    left: 47%;
    margin-top: 16%;
    font-size: 30px;
    text-align: center;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}


/* MODAL CONTENT (HOME) */

ul {
    list-style-type: none;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    background-color: #6C736E;
    color: white;
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    text-align: center;
}

.modal-content {
    .modal-header {
        border: none;
    }
    .modal-body {
        margin-top: 10%;
    }
    .modal-footer {
        border: none;
    }
}

.navigator {
    margin-top: 2%;
}

.menulink {
    font-family: Didot;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 30px;
    padding-top: 2%;
}

.icon-row {
    margin-top: 10%;
}

.icon-link {
    margin-left: 1%;
}

.icon-link:hover {
    height: 60px;
}

#modalclose {
    color: white;
}


/* BODY HOME */

hr {
    border: solid 2px #9F6662;
    margin-top: 5%;
    margin-bottom: 4.5%;
}

.flowerpattern-right {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 500px;
}

.flowerpattern-left {
    position: absolute;
    z-index: -2;
    top: 150%;
    left: -5%;
}

.bodytext {
    width: 80%;
    margin: 10% 10% 18% 10%;
}

.experiencetext {
    font-family: Didot;
    font-size: 2.5em;
    color: #091B1D;
}

.frontendtext {
    color: #9F6662;
}

.goaltext {
    color: #9F6662;
    font-size: 2.75em;
}


/* FOOTER HOME */

.footer {
    margin: 0% 0% 20% 0%;
}

.background-box {
    position: absolute;
    z-index: 1;
    bottom: -1100px;
    width: 400px;
    height: 300px;
}

.pink-one {
    background-color: #F3E9E9;
    bottom: -850px;
    width: 1960px;
    height: 30px;
}

.contactcontainer {
    background-color: #F3E9E9; 
    right: 450px;
    bottom: -1150px;
}

.contactcontainer:before {
    background-color: #081A1D;
    display: inline-block;
    content: "";
    height: 20rem;
    left: 4.25rem;
    position: absolute;
    top: 5rem;
    width: 3px;
}

.socialcontainer {
    background-color: white; 
    right: 50px;
    bottom: -1250px;
}

.socialcontainer:before {
    background-color: #081A1D;
    display: inline-block;
    content: "";
    height: 20rem;
    left: 4.25rem;
    position: absolute;
    top: 5rem;
    width: 3px;
}


.footerheader {
    font-family: JustLovely;
    color: #081A1D;
    font-size: 7.5rem;
    padding-top: 4rem;
    padding-left: 8rem;
}

.footerbody {
    font-family: Lato-light;
    color: #081A1D;
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    padding-left: 8rem;
    padding-top: 1.5rem;
}

.footersocialicons {
    padding-top: 2rem;
}

.iconfooterone {
    padding-left: 8rem;
}

.iconfooterone:hover {
    height: 10rem;
}

.iconfootertwo {
    padding-left: 4rem;
}

.iconfootertwo:hover {
    height: 10rem;
}

#footerimg {
    position: absolute;
    width: 1960px;
    right: 0px;
    bottom: -1260px;
}

#getintouchtext {
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 210%;
    left: 5%;
    font-family: JustLovely;
    font-size: 20rem;
    color: #FFF;
}

/* *********************************************************************************************************************** */
@import 'mediaqueries';