@font-face {
    font-family: JustLovely;
    src: url(../fonts/JustLovely.otf);
}

.jumbotron {
    height: 90vh;
    background: url(../images/frontjumboimg.png) center center no-repeat;
    background-size: cover;
}

#maintitle {
    font-family: JustLovely;
    font-size: 16em;
    color: #FFF;
    text-align: center;
}